<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip" />
  <package id="7zip.install" />
  <package id="chocolatey" />
  <package id="chocolatey-compatibility.extension" />
  <package id="chocolatey-core.extension" />
  <package id="chocolatey-font-helpers.extension" />
  <package id="chocolatey-windowsupdate.extension" />
  <package id="claude" />
  <package id="cloc" />
  <package id="delta" />
  <package id="fd" />
  <package id="ffmpeg" />
  <package id="FiraCode" />
  <package id="firacodenf" />
  <package id="fzf" />
  <package id="gh" />
  <package id="git" />
  <package id="git.install" />
  <package id="github-desktop" />
  <package id="imagemagick" />
  <package id="imagemagick.app" />
  <package id="jetbrainsmono" />
  <package id="jq" />
  <package id="just" />
  <package id="KB2919355" />
  <package id="KB2919442" />
  <package id="KB2999226" />
  <package id="KB3033929" />
  <package id="KB3035131" />
  <package id="kubernetes-cli" />
  <package id="kustomize" />
  <package id="lazygit" />
  <package id="luarocks" />
  <package id="neovim" />
  <package id="nerd-fonts-FiraCode" />
  <package id="nerd-fonts-JetBrainsMono" />
  <package id="nerd-fonts-Meslo" />
  <package id="ollama" />
  <package id="pgadmin4" />
  <package id="poppler" />
  <package id="ripgrep" />
  <package id="starship" />
  <package id="starship.install" />
  <package id="terraform" />
  <package id="tflint" />
  <package id="tree" />
  <package id="vcredist140" />
  <package id="vcredist2015" />
  <package id="vscode" />
  <package id="vscode.install" />
  <package id="watchman" />
  <package id="Wget" />
  <package id="yazi" />
  <package id="zoxide" />
</packages>